.layout-container {
    display: flex;
    height: 100vh; /* Full screen */
  }
  
  .dashboard-container {
    width: 250px; /* Sidebar size */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .content-container {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
  